services:
  db:
    image: mysql:8
    environment:
      MYSQL_DATABASE: gym_management
      MYSQL_USER: gym
      MYSQL_PASSWORD: gym
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"   
    volumes:
      - db_data:/var/lib/mysql


  backend:
    build: ./backend
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/gym_management
      SPRING_DATASOURCE_USERNAME: gym
      SPRING_DATASOURCE_PASSWORD: gym
      APP_BASE_URL: http://localhost:8080
    ports:
      - "8080:8080"
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  db_data:
